.hourly-forcast__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #264898;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.251);
    margin-bottom: 30px;
}

.hourly-forcast__container > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    overflow-x: scroll;
    padding: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.hourly-forcast__container > ul > li  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 110px;
    margin-right: 40px;
}

.hourly-forcast__container > ul > li:last-of-type {
    margin-right: 0px;
}

.hourly-forcast__container > ul > li div:first-of-type, .hourly-forcast__container > ul > li div:last-of-type{
    height: 25%;
}

.hourly-forcast__container > ul > li div:first-of-type, .hourly-forcast__container > ul > li div:last-of-type, .hourly-forcast__container > ul > li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hourly-forcast__container > ul > li div {
    height: 50%;
}

.hourly-forcast__container > ul > li div img{
    object-fit: contain;
    width: 50px;
}