.other-info {
    background-color: #264898;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.251);
    margin-bottom: 80px;
}

.other-info > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: white;
}

.other-info > ul > li {
    display: flex;
    align-items: center;
    /* margin: 10px; */
    /* padding: 5px; */
    border-bottom: 2px solid #2D4EB9;
}

.other-info > ul > li img {
    object-fit: contain;
    width: 40px;
}

.other-info > ul > li > div {
    padding: 15px 15px;
    width: 50%;
}

.other-info > ul > li > div:last-of-type {
    width: 10%;
    /* border: 2px solid black; */
    margin-left: 10%;
}

.other-info > ul > li > div:last-of-type p {
   margin-right: 10px;
}